<div data-section-id="{{ section.id }}" data-section-type="collection-template">
{% assign header_title = collection.title %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins">

  {% if collection.image %}
    <div class="collection-image">
    {% assign img_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      <img class="no-js lazyload"
            data-src="{{ img_url }}"
            data-widths="[320, 360, 375, 414, 568, 684, 720, 732, 736, 768, 1024, 1200, 1296, 1512, 1728, 1944, 2048, 4472]"
            data-aspectratio="{{ collection.image.aspect_ratio }}"
            data-sizes="auto"
            data-parent-fit="width"
            alt="{{ collection.image.alt }}" />
            <noscript>
              <img src="{{ collection.image | img_url: '1200x' }}"
                srcset="{{ collection.image | img_url: '1200x' }} 1x, {{ collection.image | img_url: '1200x', scale: 2 }} 2x"
                alt="{{ collection.image.alt }}"  style="opacity:1;">
            </noscript>
    </div>
  {% endif %}

  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
  {% paginate collection.products by limit %}

    <div class="collection-list grid-uniform {% unless shop.products_count == 0 %} small-gutter {% endunless %}">


      {% case section.settings.grid %}
      {% when '2' %}
        {%- assign grid_item_width = 'small--one-whole medium--one-half large--one-half' -%}
      {% when '3' %}
        {%- assign grid_item_width = 'small--one-whole medium--one-third large--one-third' -%}
      {% when '4' %}
        {%- assign grid_item_width = 'small--one-half medium--one-quarter large--one-quarter' -%}
      {% when '5' %}
        {%- assign grid_item_width = 'small--one-half medium--one-third large--one-fifth' -%}
      {% endcase %}

      {% for product in collection.products %}

        {% include 'product-grid-item', grid_item_width: grid_item_width %}

      {% else %}

        {% if shop.products_count == 0 %}
            <div class="grid__item">
              <div class="helper-section">
                <div class="helper-note">
                  <span class="helper-icon"></span>
                  <h3>{{ 'homepage.onboarding.modal_title' | t }}</h3>
                  <p>{{ 'homepage.onboarding.no_products_collection' | t }}</p>
                  <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'homepage.onboarding.add_product' | t }}</a></p>
                </div>

                <div class="collection-list grid-uniform helper-content">
                  {% assign index = 1 %}
                  {% for i in (1..6) %}
                    <div class="product grid__item one-third medium--one-half small--one-whole text-center">
                      <a href="/admin/products" class="grid__image">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      </a>
                      <h3>{{ 'homepage.onboarding.product_title' | t }}</h3>
                      <p class="price">
                        $19.99
                      </p>
                    </div>
                    {% assign index = index | plus: 1 %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% else %}
            <div class="grid__item">
              <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
            </div>
          {% endif %}

      {% endfor %}

    </div>

    {% include 'page_pagination' %}

  {% endpaginate %}

</div>

</div>



{% schema %}
{
  "name": {
    "de": "Kategorie-Seiten",
    "en": "Collection Pages",
    "es": "Páginas de colección",
    "fr": "Pages de collection",
    "it": "Pagine delle collezioni",
    "ja": "コレクションページ",
    "pt-BR": "Páginas de coleções"
  },
  "settings": [
    {
      "type": "select",
      "id": "grid",
      "label": {
        "de": "Anzahl der Produktspalten",
        "en": "Number of product columns",
        "es": "Cantidad de columnas de productos",
        "fr": "Nombre de colonnes de produits",
        "it": "Numero di colonne prodotti",
        "ja": "商品列の数",
        "pt-BR": "Número de colunas de produtos"
      },
      "default": "3",
      "options": [
        {
          "value": "2",
          "label": {
            "de": "2",
            "en": "2",
            "es": "2",
            "fr": "2",
            "it": "2",
            "ja": "2",
            "pt-BR": "2"
          }
        },
        {
          "value": "3",
          "label": {
            "de": "3",
            "en": "3",
            "es": "3",
            "fr": "3",
            "it": "3",
            "ja": "3",
            "pt-BR": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "de": "4",
            "en": "4",
            "es": "4",
            "fr": "4",
            "it": "4",
            "ja": "4",
            "pt-BR": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "de": "5",
            "en": "5",
            "es": "5",
            "fr": "5",
            "it": "5",
            "ja": "5",
            "pt-BR": "5"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": {
        "de": "Zeilen pro Seite",
        "en": "Rows per page",
        "es": "Filas por página",
        "fr": "Rangées par page",
        "it": "Righe per pagina",
        "ja": "ページあたりの行数",
        "pt-BR": "Linhas por página"
      },
      "default": "6",
      "options": [
        {
          "value": "3",
          "label": {
            "de": "3",
            "en": "3",
            "es": "3",
            "fr": "3",
            "it": "3",
            "ja": "3",
            "pt-BR": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "de": "4",
            "en": "4",
            "es": "4",
            "fr": "4",
            "it": "4",
            "ja": "4",
            "pt-BR": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "de": "5",
            "en": "5",
            "es": "5",
            "fr": "5",
            "it": "5",
            "ja": "5",
            "pt-BR": "5"
          }
        },
        {
          "value": "6",
          "label": {
            "de": "6",
            "en": "6",
            "es": "6",
            "fr": "6",
            "it": "6",
            "ja": "6",
            "pt-BR": "6"
          }
        },
        {
          "value": "7",
          "label": {
            "de": "7",
            "en": "7",
            "es": "7",
            "fr": "7",
            "it": "7",
            "ja": "7",
            "pt-BR": "7"
          }
        },
        {
          "value": "8",
          "label": {
            "de": "8",
            "en": "8",
            "es": "8",
            "fr": "8",
            "it": "8",
            "ja": "8",
            "pt-BR": "8"
          }
        },
        {
          "value": "9",
          "label": {
            "de": "9",
            "en": "9",
            "es": "9",
            "fr": "9",
            "it": "9",
            "ja": "9",
            "pt-BR": "9"
          }
        },
        {
          "value": "10",
          "label": {
            "de": "10",
            "en": "10",
            "es": "10",
            "fr": "10",
            "it": "10",
            "ja": "10",
            "pt-BR": "10"
          }
        }
      ]
    }
  ]
}
{% endschema %}
