<div id="home-faq" class="index-section home-section" data-section-id="{{ section.id }}" data-section-type="home-faq">
	<div class="home-faq-list">
		<div class="wrapper wrapper--margins">

			{% if section.settings.title != blank %}
			  <h2 class="home-section-title">{{ section.settings.title | escape }}</h2>
			{% endif %}

			<div class="jumpstart-accordion">
			  {% for block in section.blocks %}

					<div class="section section-{{ block.id }} {% if forloop.first == true %}opened{% endif %}" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
						<h3 class="h4 title">{{ block.settings.home-faq-title | escape }}</h3>
						<div class="content">{{ block.settings.home-faq-content }}</div>
					</div>

			  {% endfor %}
			</div>

		</div>
	</div>
</div>



{% schema %}
{
  "name": {
    "de": "FAQs",
    "en": "FAQs",
    "es": "Preguntas frecuentes",
    "fr": "FAQ",
    "it": "FAQ",
    "ja": "よくある質問",
    "pt-BR": "Perguntas frequentes"
  },
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Header",
        "es": "Encabezado",
        "fr": "En-tête",
        "it": "Header",
        "ja": "ヘッダー",
        "pt-BR": "Cabeçalho"
      },
      "default": {
        "de": "FAQs",
        "en": "FAQ",
        "es": "Preguntas frecuentes",
        "fr": "FAQ",
        "it": "FAQ",
        "ja": "よくある質問",
        "pt-BR": "FAQ"
      }
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": {
        "de": "FAQs",
        "en": "FAQ",
        "es": "Preguntas frecuentes",
        "fr": "FAQ",
        "it": "FAQ",
        "ja": "よくある質問",
        "pt-BR": "FAQ"
      },
      "settings": [
        {
          "type": "text",
          "id": "home-faq-title",
          "default": {
            "de": "Frage und Antwort",
            "en": "Question and answer",
            "es": "Pregunta y respuesta",
            "fr": "Question et réponse",
            "it": "Domanda e risposta",
            "ja": "質問と回答",
            "pt-BR": "Pergunta e resposta"
          },
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "pt-BR": "Título"
          }
        },
        {
          "type": "richtext",
          "id": "home-faq-content",
          "default": {
            "de": "<p>Dieser Bereich hat zur Zeit keinen Inhalt. <b>Fügen Sie diesem Bereich über die Seitenleiste Inhalte hinzu.</b></p>",
            "en": "<p>This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b></p>",
            "es": "<p>Esta sección no incluye contenido actualmente. <b>Agrega contenido a esta sección mediante la barra lateral.</b></p>",
            "fr": "<p>Il n'y a aucun contenu dans cette section pour l'instant. <b>Ajoutez du contenu à cette section en utilisant la barre latérale.</b></p>",
            "it": "<p>Attualmente questa sezione non contiene alcun contenuto. <b>Aggiungi del contenuto a questa sezione utilizzando la sidebar.</b></p>",
            "ja": "<p>このセクションには現在コンテンツがございません。<b>サイドバーを使ってコンテンツを追加しましょう。</b></p>",
            "pt-BR": "<p>Atualmente, esta seção não possui nenhum conteúdo. <b>Adicione conteúdo a esta seção usando a barra lateral.</b></p>"
          },
          "label": {
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "pt-BR": "Texto"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "FAQs",
        "en": "FAQs",
        "es": "Preguntas frecuentes",
        "fr": "FAQ",
        "it": "FAQ",
        "ja": "よくある質問",
        "pt-BR": "Perguntas frequentes"
      },
      "category": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "pt-BR": "Texto"
      },
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
