<div class="index-section home-section">
	<style>
		#home-imagebox-{{ section.id }},
		#home-imagebox-{{ section.id }} .placeholder-background.imagebox {
			background-color: {{ section.settings.background_color }};
		}
		#home-imagebox-{{ section.id }} .content h3,
		#home-imagebox-{{ section.id }} .content p {
			color: {{ section.settings.text_color }};
		}
		#home-imagebox-{{ section.id }} .content a {
			color: {{ section.settings.text_color }};
			border-color: {{ section.settings.text_color }};
		}
		#home-imagebox-{{ section.id }} .content a:hover {
			color: {{ section.settings.background_color }} !important;
			border-color: {{ section.settings.text_color }};
			background-color: {{ section.settings.text_color }};
		}
		#home-imagebox-{{ section.id }} svg.placeholder-image {
			fill: {{ section.settings.text_color }};
		}
	</style>
	<div id="home-imagebox-{{ section.id }}" class="home-imagebox">
		{% if section.settings.image %}
			<noscript>
				<div class="grid__item one-half medium-down--one-whole image {% if section.settings.home-featured-align == 'right-img' %} push--large--one-half {% endif %}"
					style="background-image: url('{{ section.settings.image | img_url: '1024x1024' }}');display: block;"></div>
				</noscript>
			{% endif %}
		<div class="grid__item one-half medium-down--one-whole image no-js lazyload {% if section.settings.home-featured-align == 'right-img' %} push--large--one-half {% endif %}"
		 {% if section.settings.image != blank %}
	      data-bgset="{% include 'bgset', image: section.settings.image %}"
	      data-widths="[320, 360, 375, 414, 568, 684, 720, 732, 736, 768, 1024, 1200]"
	      data-sizes="auto"
	      data-parent-fit="cover">
      {% else %}>
		  <div class="placeholder-background imagebox">
		    {{ 'image' | placeholder_svg_tag: 'placeholder-image' }}
		  </div>
		{% endif %}
		</div>
		<div class="content wrapper">
			<div class="grid__item one-half medium-down--one-whole content {% if section.settings.home-featured-align == 'left-img' %} push--large--one-half {% else %} pull--no {% endif %}">
				<div class="large--display-table">
					<div class="large--display-table-cell">

						  {% unless section.settings.home-featured-title == blank %}
							<h3>{{ section.settings.home-featured-title | escape }}</h3>
						  {% endunless %}
						  {% unless section.settings.home-featured-content == blank %}
							{{ section.settings.home-featured-content }}
						  {% endunless %}
						  {% unless section.settings.home-featured-btn-label == blank %}
							<a class="btn btn--regular btn--outline btn--light" href="{{ section.settings.home-featured-btn-url }}">{{ section.settings.home-featured-btn-label | escape }}</a>
						  {% endunless %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% schema %}
{
  "name": {
    "de": "Bild mit Text",
    "en": "Image with text",
    "es": "Imagen con texto",
    "fr": "Image avec texte",
    "it": "Immagine con testo",
    "ja": "テキスト付き画像",
    "pt-BR": "Imagem com texto"
  },
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "pt-BR": "Texto"
      },
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": {
        "de": "Hintergrund",
        "en": "Background",
        "es": "Fondo",
        "fr": "Arrière-plan",
        "it": "Sfondo",
        "ja": "背景",
        "pt-BR": "Plano de fundo"
      },
      "default": "#000"
    },
    {
      "type": "select",
      "id": "home-featured-align",
      "label": {
        "de": "Fotoausrichtung",
        "en": "Image alignment",
        "es": "Alineación de imagen",
        "fr": "Alignement de l'image",
        "it": "Allineamento immagine",
        "ja": "画像アラインメント",
        "pt-BR": "Alinhamento da imagem"
      },
      "default": "left-img",
      "options": [
        {
          "value": "left-img",
          "label": {
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fr": "Gauche",
            "it": "Sinistra",
            "ja": "左",
            "pt-BR": "Esquerda"
          }
        },
        {
          "value": "right-img",
          "label": {
            "de": "Rechts",
            "en": "Right",
            "es": "Derecha",
            "fr": "Droite",
            "it": "Destra",
            "ja": "右",
            "pt-BR": "Direita"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "pt-BR": "Imagem"
      }
    },
    {
      "type": "text",
      "id": "home-featured-title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Reden Sie über Ihre Marke",
        "en": "Talk about your brand",
        "es": "Habla de tu marca",
        "fr": "Parlez de votre marque",
        "it": "Parla del tuo brand",
        "ja": "あなたのブランドについて語る",
        "pt-BR": "Fale sobre a sua marca"
      }
    },
    {
      "type": "richtext",
      "id": "home-featured-content",
      "label": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "pt-BR": "Texto"
      },
      "default": {
        "de": "<p>Nutzen Sie diesen Text, um Infos über Ihre Marke mitzuteilen. <b>Beschreiben Sie ein Produkt, kündigen Sie etwas an oder heißen Sie Kunden willkommen.</b></p>",
        "en": "<p>Use this text to share information about your brand with your customers. <b>Describe a product, share announcements, or welcome customers to your store.</b></p>",
        "es": "<p>Usa este texto para compartir información sobre tu marca con tus clientes. <b>Describe un producto, comparte anuncios o recibe clientes en tu tienda.</b></p>",
        "fr": "<p>Utilisez ce texte pour partager des informations sur votre marque. <b>Décrivez un produit, partagez des annonces, ou souhaitez la bienvenue à vos clients.</b></p>",
        "it": "<p>Utilizza questo testo per condividere le informazioni sul tuo brand con i clienti. <b>Descrivi un prodotto, condividi gli annunci o dai il benvenuto ai clienti nel tuo negozio.</b></p>",
        "ja": "<p>このテキストを使用して、あなたのブランドに関する情報をお客様と共有します。<b>商品を説明したり、告知の共有をしたり、あるいはあなたのストアのお客様を歓迎します。</b></p>",
        "pt-BR": "<p>Use este texto para compartilhar informações sobre sua marca com seus clientes. <b>Descreva um produto, compartilhe anúncios ou receba os clientes em sua loja.</b></p>"
      }
    },
    {
      "type": "text",
      "id": "home-featured-btn-label",
      "label": {
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fr": "Texte du bouton",
        "it": "Etichetta pulsante",
        "ja": "ボタンラベル",
        "pt-BR": "Etiqueta do botão"
      }
    },
    {
      "type": "url",
      "id": "home-featured-btn-url",
      "label": {
        "de": "Schaltflächenlink",
        "en": "Button link",
        "es": "Enlace de botón",
        "fr": "Lien du bouton",
        "it": "Link pulsante",
        "ja": "ボタンリンク",
        "pt-BR": "Link do botão"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Bild und Text",
        "en": "Image and text",
        "es": "Imagen y texto",
        "fr": "Image et texte",
        "it": "Immagine e testo",
        "ja": "画像とテキスト",
        "pt-BR": "Imagem e texto"
      },
      "category": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "pt-BR": "Imagem"
      }
    }
  ]
}
{% endschema %}
