<div data-section-id="{{ section.id }}" data-section-type="header-section">
  {% if section.settings.show_announcement %}
    {% if section.settings.home_page_only == false or template.name == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ section.settings.announcement_color_bg }};
        }

        .announcement-bar--link:hover {
          {% assign brightness = section.settings.announcement_color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.announcement_color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.announcement_color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ section.settings.announcement_color_text }};
        }
      </style>

      {% if section.settings.announcement_link == blank %}
        <div class="announcement-bar">
      {% else %}
        <a href="{{ section.settings.announcement_link }}" class="announcement-bar announcement-bar--link">
      {% endif %}

        <p class="announcement-bar__message">{{ section.settings.announcement_text | escape }}</p>

      {% if section.settings.announcement_link == blank %}
        </div>
      {% else %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}

  <header class="site-header site-header--{{ section.settings.menu_style }} animate {% if section.settings.menu_text_color %}{{ section.settings.menu_text_color }}{% endif %}" role="banner" data-menu-style="{{ section.settings.menu_style }}">
    <div class="wrapper">
      {% if section.settings.logo_use_inverted and section.settings.logo-inverted != blank %}
        {% assign inverted_logo_in_use = true %}
      {% endif %}

      {% if section.settings.logo != blank or inverted_logo_in_use %}
        {%if section.settings.logo_max_width != blank %}
          {% capture logo_image_width %}{{ section.settings.logo_max_width | remove: 'px' | escape }}{% endcapture %}
        {% else %}
          {% assign logo_image_width = '200' %}
        {% endif %}
      {% endif %}

      {% if template.name == 'index' %}
        <h1 class="site-header__logo {% if section.settings.logo or inverted_logo_in_use %} display-table use-image" style="max-width:{{ logo_image_width }}px;"{% endif %} itemscope itemtype="http://schema.org/Organization">
      {% else %}
        <div class="h1 site-header__logo {% if section.settings.logo or inverted_logo_in_use %} display-table use-image" style="max-width:{{ logo_image_width }}px;"{% endif %} itemscope itemtype="http://schema.org/Organization">
      {% endif %}

      {% if section.settings.logo or inverted_logo_in_use %}
        {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% capture image_size_for_url %}{{ logo_image_width }}x{% endcapture %}
        {% if inverted_logo_in_use and template.name == 'index'  %}
          <a href="/" itemprop="url" class="site-header__logo-link--inverted display-table-cell">
          <img src="{{ section.settings.logo-inverted | img_url: image_size_for_url }}"
            srcset="{{ section.settings.logo-inverted | img_url: image_size_for_url }} 1x, {{ section.settings.logo-inverted | img_url: image_size_for_url, scale: 2 }} 2x"
            alt="{{ section.settings.logo.alt | default: shop.name }}"
            itemprop="logo">
          </a>
        {% endif %}
        {% if section.settings.logo %}
          <a href="/" itemprop="url" class="site-header__logo-link display-table-cell{% if inverted_logo_in_use and template.name == 'index' %} logo--hidden{% endif %}">
            <img src="{{ section.settings.logo | img_url: image_size_for_url }}"
              srcset="{{ section.settings.logo | img_url: image_size_for_url }} 1x, {{ section.settings.logo | img_url: image_size_for_url, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}"
              itemprop="logo">
          </a>
        {% else %}
          <a href="/" itemprop="url" class="site-header__logo-text site-header__logo-link display-table-cell{% if inverted_logo_in_use and template.name == 'index' %} logo--hidden{% endif %}">{{ shop.name }}</a>
        {% endif %}
      {% else %}
        <a href="/" itemprop="url" class="site-header__logo-text">{{ shop.name }}</a>
      {% endif %}

      {% if template.name == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}

      <nav class="nav-bar" id="navBar" role="navigation">
        <button id="menu-closer" class="lines-button lines-button--close" aria-controls="navBar" aria-expanded="true">
          <span class="fallback-text">{{ 'layout.navigation.close_menu' | t }}</span>
          <span class="lines" aria-hidden="true"></span>
        </button>
        <ul class="site-nav" id="AccessibleNav">
          {% for link in linklists[section.settings.main_linklist].links %}
            {% if link.links != blank %}
              <li class="site-nav--has-dropdown" aria-haspopup="true">
                <button class="site-nav__link" aria-expanded="false">
                  {{ link.title | escape }}
                  <span class="icon icon-plus" aria-hidden="true">{% include 'asset_svg' with 'plus' %}</span>
                  <span class="icon icon-minus" aria-hidden="true">{% include 'asset_svg' with 'minus' %}</span>
                </button>
                <ul class="site-nav__dropdown">
                  <div>
                    {% for childlink in link.links %}
                      {% if childlink.links != blank %}
                        <li class="site-nav--has-dropdown" aria-haspopup="true">
                          <button class="site-nav__link site-nav__link--child" aria-expanded="false">
                            {{ childlink.title | escape }}
                            <span class="icon icon-plus" aria-hidden="true">{% include 'asset_svg' with 'plus' %}</span>
                            <span class="icon icon-minus" aria-hidden="true">{% include 'asset_svg' with 'minus' %}</span>
                          </button>
                          <ul class="site-nav__dropdown site-nav__dropdown--grandchilds">
                            <div>
                              {% for grandchildlink in childlink.links %}
                                <li>
                                  <a href="{{ grandchildlink.url }}" class="site-nav__link site-nav__link--grandchild{% if grandchildlink.active %} site-nav--active{% endif %}" {% if grandchildlink.active %}aria-current="page"{% endif %}>{{ grandchildlink.title | escape }}</a>
                                </li>
                              {% endfor %}
                            </div>
                          </ul>
                        </li>
                      {% else %}
                        <li>
                          <a href="{{ childlink.url }}" class="site-nav__link site-nav__link--child{% if childlink.active %} site-nav--active{% endif %}" {% if childlink.active %}aria-current="page"{% endif %}>{{ childlink.title | escape }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <span class="arrow">&nbsp;</span>
                </ul>
              </li>
            {% else %}
              <li>
                <a href="{{ link.url }}" class="site-nav__link{% if link.active %} site-nav--active{% endif %}" {% if link.active %}aria-current="page"{% endif %}>{{ link.title | escape }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% unless section.settings.menu_product == blank %}
            <li class="btn__buy"><a href="{{ all_products[section.settings.menu_product].url }}" class="btn btn--outline {% if section.settings.menu_style == 'classic' %} btn--small btn--dark {% else %} btn--regular btn--light {% endif %}">{{ 'layout.navigation.buy_button' | t }} <span class="visually-hidden">{{ all_products[section.settings.menu_product].title }}</span> {{ all_products[section.settings.menu_product].price | money_without_trailing_zeros }}</a></li>
          {% endunless %}

          {% if cart.item_count > 0 %}
            <li class="btn__cart">
              <a href="/cart">
                <span class="icon" aria-hidden="true">{% unless cart.item_count > 99 %}{{ cart.item_count }}{% endunless %}{% include 'asset_svg' with 'cart' %}</span>
                <span class="text">{{ 'layout.navigation.shopping_cart' | t }}</span>
              </a>
            </li>
          {% endif %}

          {% if shop.customer_accounts_enabled %}
            <li class="btn__account">
              <a href="/account{% unless customer %}/login{% endunless %}">
                <span class="icon" aria-hidden="true">{% include 'asset_svg' with 'account' %}</span>
                <span class="text">{{ 'layout.navigation.my_account' | t }}</span>
              </a>
            </li>
          {% endif %}

        </ul>

      </nav>

      <button id="menu-opener" class="lines-button" aria-controls="navBar" aria-expanded="false">
        <span class="fallback-text">{{ 'layout.navigation.open_menu' | t }}</span>
        <span class="lines" aria-hidden="true"></span>
      </button>

    </div>
  </header>
</div>



{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "pt-BR": "Cabeçalho"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "de": "Logo",
        "en": "Logo",
        "es": "Logotipo",
        "fr": "Logo",
        "it": "Logo",
        "ja": "ロゴ",
        "pt-BR": "Logotipo"
      }
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Imagen del logotipo",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "pt-BR": "Imagem do logotipo"
      },
      "info": {
        "de": "200px breites .png empfohlen",
        "en": "200px wide .png recommended",
        "es": "200px de ancho .png recomendado",
        "fr": "200 px wide .png recommandé",
        "it": "File .png con larghezza di 200 pixel consigliato",
        "ja": "200ピクセル幅.png推奨",
        "pt-BR": ".png com 200 px de largura recomendado"
      }
    },
    {
      "type": "checkbox",
      "id": "logo_use_inverted",
      "label": {
        "de": "Ein Startseitenlogo nutzen",
        "en": "Use a home page logo",
        "es": "Usa un logotipo de la página de inicio",
        "fr": "Utiliser un logo de la page d'accueil",
        "it": "Usare un logo per la home page",
        "ja": "ホームページのロゴを使用する",
        "pt-BR": "Use um logotipo na página inicial"
      }
    },
    {
      "type": "image_picker",
      "id": "logo-inverted",
      "label": {
        "de": "Startseitenlogo",
        "en": "Home page logo",
        "es": "Logotipo de la página de inicio",
        "fr": "Logo de la page d'accueil",
        "it": "Logo della home page",
        "ja": "ホームページのロゴ",
        "pt-BR": "Logotipo da página inicial"
      },
      "info": {
        "de": "In Slideshow anzeigen",
        "en": "Shown on slideshow",
        "es": "Mostrado en diapositivas",
        "fr": "Affiché sur le diaporama",
        "it": "Mostrato sulla presentazione",
        "ja": "スライドショーに表示する",
        "pt-BR": "Exibido em slides"
      }
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": {
        "de": "Benutzerdefinierte Logobreite (Pixel)",
        "en": "Custom logo width (in pixels)",
        "es": "Ancho del logotipo personalizado (en píxeles)",
        "fr": "Largeur personnalisée du logo (en pixels)",
        "it": "Larghezza logo personalizzato (in pixel)",
        "ja": "ロゴの幅をカスタムする（ピクセルで）",
        "pt-BR": "Largura do logotipo personalizado (em pixels)"
      },
      "default": {
        "de": "250",
        "en": "250",
        "es": "250",
        "fr": "250",
        "it": "250",
        "ja": "250",
        "pt-BR": "250"
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Navigation",
        "en": "Navigation",
        "es": "Navegación",
        "fr": "Navigation",
        "it": "Navigazione",
        "ja": "メニュー",
        "pt-BR": "Navegação"
      }
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "pt-BR": "Menu"
      },
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_style",
      "label": {
        "de": "Menü-Stil",
        "en": "Menu style",
        "es": "Estilo del menú",
        "fr": "Style de menu",
        "it": "Stile menu",
        "ja": "メニュースタイル",
        "pt-BR": "Estilo do menu"
      },
      "options": [
        {
          "value": "classic",
          "label": {
            "de": "Klassisch",
            "en": "Classic",
            "es": "Clásico",
            "fr": "Classique",
            "it": "Classico",
            "ja": "クラシック",
            "pt-BR": "Clássico"
          }
        },
        {
          "value": "drawer",
          "label": {
            "de": "Einschub",
            "en": "Drawer",
            "es": "Carrito lateral",
            "fr": "Tiroir",
            "it": "Finestra",
            "ja": "ドロワー",
            "pt-BR": "Caixa registradora"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "menu_text_color",
      "label": {
        "de": "Klassische Menüfarbe",
        "en": "Classic menu color",
        "es": "Colores del menú clásico",
        "fr": "Couleur de menu classique",
        "it": "Colore menu classico",
        "ja": "クラシックメニューのカラー",
        "pt-BR": "Cor do menu clássico"
      },
      "options": [
        {
          "value": "is-dark",
          "label": {
            "de": "Dunkel",
            "en": "Dark",
            "es": "Oscuro",
            "fr": "Foncé",
            "it": "Scuro",
            "ja": "ダーク",
            "pt-BR": "Dark"
          }
        },
        {
          "value": "is-light",
          "label": {
            "de": "Hell",
            "en": "Light",
            "es": "Claro",
            "fr": "Clair",
            "it": "Chiaro",
            "ja": "ライト",
            "pt-BR": "Light"
          }
        }
      ],
      "info": {
        "de": "Nutzen Sie dies für eine bessere Sichtbarkeit, wenn das Menü über dunklen Abschnitten liegt",
        "en": "Use this when the menu is over dark sections for better visibility",
        "es": "Úsalo cuando el menú esté sobre secciones oscuras para una mejor visibilidad",
        "fr": "Utilisez ceci lorsque le menu se trouve sur des sections sombres, pour une meilleure visibilité",
        "it": "Usare quando il menu è su sezioni scure per una migliore visibilità",
        "ja": "視認性を高めるため、暗いセクションの上にメニューがある場合に使用します",
        "pt-BR": "Use quando o menu estiver sobre seções escuras para melhorar a visibilidade"
      }
    },
    {
      "type": "product",
      "id": "menu_product",
      "label": {
        "de": "Produkt für \"Jetzt kaufen\"-Schaltfläche",
        "en": "Product for \"buy now\" button",
        "es": "Producto para el botón \"comprar ahora\"",
        "fr": "Produit pour le bouton « Acheter maintenant »",
        "it": "Prodotto per il pulsante \"Acquista ora\"",
        "ja": "「今すぐ購入」ボタンのための商品",
        "pt-BR": "Botão de produto para \"comprar agora\""
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Ankündigungsleiste",
        "en": "Announcement bar",
        "es": "Barra de anuncios",
        "fr": "Barre d'annonces",
        "it": "Barra degli annunci",
        "ja": "告知バー",
        "pt-BR": "Barra de anúncio"
      }
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": {
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fr": "Afficher l'annonce",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "pt-BR": "Exibir anúncio"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fr": "Page d'accueil uniquement",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "pt-BR": "Apenas página inicial"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": {
        "de": "Ankündigungstext",
        "en": "Announcement text",
        "es": "Texto del anuncio",
        "fr": "Texte d'annonce",
        "it": "Testo annuncio",
        "ja": "告知テキスト",
        "pt-BR": "Texto do anúncio"
      },
      "default": {
        "de": "Hier etwas ankündigen",
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "fr": "Annoncez quelque chose ici",
        "it": "Annuncia qualcosa qui",
        "ja": "ここで告知してください",
        "pt-BR": "Anuncie algo aqui"
      }
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": {
        "de": "Ankündigungslink",
        "en": "Announcement link",
        "es": "Enlace de anuncio",
        "fr": "Lien d'annonce",
        "it": "Link annuncio",
        "ja": "告知リンク",
        "pt-BR": "Link de anúncio"
      },
      "info": {
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fr": "Facultatif",
        "it": "Facoltativo",
        "ja": "選択させる",
        "pt-BR": "Opcional"
      }
    },
    {
      "type": "color",
      "id": "announcement_color_bg",
      "label": {
        "de": "Zeile",
        "en": "Bar",
        "es": "Barra",
        "fr": "Barre",
        "it": "Barra",
        "ja": "バー",
        "pt-BR": "Barra"
      },
      "default": "#429c80"
    },
    {
      "type": "color",
      "id": "announcement_color_text",
      "label": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "pt-BR": "Texto"
      },
      "default": "#fff"
    }
  ]
}
{% endschema %}
