<div id="home-newsletter" class="index-section home-section">
  <div class="home-newsletter">
    <div class="wrapper wrapper--margins">
      <div class="newsletter text-center password-input-group">
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            <div class="input-group">
              <input type="hidden" name="contact[tags]" value="newsletter">
              {% if section.settings.heading != blank %}
                <h2 class="home-section-title" for="Email">{{ section.settings.heading | escape }}</h2>
              {% else %}
                <label class="visually-hidden" for="Email">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
              {% endif %}
              {% unless section.settings.subheading == blank %}
                {{ section.settings.subheading }}
              {% endunless %}
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" name="contact[email]" id="Email" class="input-group__field newsletter__input" autocorrect="off" autocapitalize="off">
              <span class="input-group__btn">
                <button type="submit" class="btn newsletter__submit btn--regular btn--fill btn--color" name="commit" id="Subscribe">
                  <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
              </span>
            </div>
          {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": {
    "de": "Newsletter",
    "en": "Newsletter",
    "es": "Boletín",
    "fr": "Newsletter",
    "it": "Newsletter",
    "ja": "ニュースレター",
    "pt-BR": "Newsletter"
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Auf dem Laufenden bleiben",
        "en": "Stay up to date",
        "es": "Mantente actualizado",
        "fr": "Restez à jour",
        "it": "Rimani aggiornato",
        "ja": "最新に保つ",
        "pt-BR": "Mantenha-se atualizado"
      }
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": {
        "de": "Unter-Überschrift",
        "en": "Subheading",
        "es": "Subtítulo",
        "fr": "Sous-titre",
        "it": "Sottotitolo",
        "ja": "小見出し",
        "pt-BR": "Subtítulo"
      },
      "default": {
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
        "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
        "pt-BR": "<p>Promoções, novos produtos e ofertas, diretamente em sua caixa de entrada.</p>"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "de": "Für alle Kunden, die sich anmelden, wird in Shopify ein Konto erstellt. [Kunden anzeigen](/admin/customers?query=&accepts_marketing=1)",
        "en": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)",
        "es": "Todos los clientes que se registren tendrán una cuenta creada para ellos en Shopify. [Ver clientes](/admin/customers?query=&accepts_marketing=1)",
        "fr": "Les clients qui s'inscrivent auront un compte créé pour eux dans Shopify. [Afficher les clients](/admin/customers?query=&accepts_marketing=1)",
        "it": "Qualsiasi cliente che si iscrive avrà un account creato appositamente su Shopify. [Visualizza clienti](/admin/customers?query=&accepts_marketing=1)",
        "ja": "サインアップしたお客様は、Shopifyでアカウントが作成されます。[お客様を表示](/admin/customers?query=&accepts_marketing=1)",
        "pt-BR": "Todos os clientes que se inscreverem terão uma conta criada para eles na Shopify. [Ver clientes](/admin/customers?query=&accepts_marketing=1)"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fr": "Newsletter",
        "it": "Newsletter",
        "ja": "ニュースレター",
        "pt-BR": "Newsletter"
      },
      "category": {
        "de": "Promotional",
        "en": "Promotional",
        "es": "Promocional",
        "fr": "Promotionnel",
        "it": "Promozionale",
        "ja": "プロモーション用",
        "pt-BR": "Promocional"
      }
    }
  ],
  "blocks": []
}
{% endschema %}
