<header class="site-header" role="banner">
  <div class="wrapper">

    <h1 class="h1 site-header__logo {% if section.settings.logo %} display-table use-image {% endif %}" itemscope itemtype="http://schema.org/Organization">

    {% if section.settings.logo %}
      <a href="/" itemprop="url" class="site-header__logo-link display-table-cell">
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}"
              itemprop="logo">
      </a>
    {% else %}
      <a href="/" itemprop="url" class="site-header__logo-text">{{ shop.name }}</a>
    {% endif %}

    </h1>

    <p class="password-login right">
      <a href="#login-modal" class="js-toggle-login-modal" data-mfp-src="#login-modal">
        <span aria-hidden="true">{% include 'asset_svg' with 'lock' %}</span>
        <span class="fallback-text">{{ 'general.password_page.password_link' | t }}</span>
      </a>
    </p>

  </div>
</header>

<div class="header__custom display-table parallax-bg">
  <div class="display-table-cell prlx-txt">
    <div class="wrapper wrapper--margins">

      <h2 itemprop="name" class="h1">{{ section.settings.title | escape }}</h2>

      {% if shop.password_message != 'blank' %}
        <span>{{ shop.password_message }}</span>
      {% endif %}

      <hr />

    </div>
  </div>
  <span class="prlx-bg" style="background-color: {{ settings.color_body_bg_alt }}"></span>
</div>



{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "pt-BR": "Cabeçalho"
  },
  "class": "password-header-section password-page-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Imagen del logotipo",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "pt-BR": "Imagem do logotipo"
      }
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": {
        "de": "Benutzerdefinierte Logobreite (Pixel)",
        "en": "Custom logo width (in pixels)",
        "es": "Ancho del logotipo personalizado (en píxeles)",
        "fr": "Largeur personnalisée du logo (en pixels)",
        "it": "Larghezza logo personalizzato (in pixel)",
        "ja": "ロゴの幅をカスタムする（ピクセルで）",
        "pt-BR": "Largura do logotipo personalizado (em pixels)"
      },
      "default": {
        "de": "100",
        "en": "100",
        "es": "100",
        "fr": "100",
        "it": "100",
        "ja": "100",
        "pt-BR": "100"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Demnächst",
        "en": "Coming Soon",
        "es": "Próximamente",
        "fr": "Ouverture prochaine",
        "it": "Prossimamente",
        "ja": "間もなく公開",
        "pt-BR": "Em breve"
      }
    }
  ]
}
{% endschema %}
