<div id="home-video" class="index-section home-section">
  <div class="home-video {% if section.settings.video_text_color %}{{ section.settings.video_text_color }}{% endif %}">

    {% unless section.settings.video_url.url == blank %}
      {% assign video_id =  section.settings.video_url.id %}
      {% case section.settings.video_url.type %}
        {% when 'youtube' %}
          {% assign video_url = 'https://www.youtube.com/watch?v=' | append: video_id %}
        {% when 'vimeo' %}
          {% assign video_url = 'https://vimeo.com/' | append: video_id %}
      {% endcase %}
    {% endunless %}
    {% if section.settings.cover_image == blank %}
      <div class="placeholder-background">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% endif %}

  <div class="wrapper wrapper--margins">

    <div class="content push-up">
      <div class="display-table">
        <h2 class="display-table-cell huge-title {% if section.settings.video_text_color %}{{ section.settings.video_text_color }}{% endif %}">
         {{ section.settings.heading | escape }}
        </h2>
      </div>
    </div>

     <a href="{% if section.settings.video_url.url == blank %}https://www.youtube.com/watch?v=_9VUPq3SxOc{% else %}{{ video_url }}{% endif %}" class="video-overlay video-overlay-{{ section.id }}"><span class="video-button">{% include 'asset_svg' with 'play_arrow' %}</span></a>
   </div>
    {% if section.settings.cover_image != blank %}
    <span class="prlx-bg prlx-bg--{{ section.id }} no-js lazyload"
        style="background-image: url('{{ section.settings.cover_image | img_url: '300x300' }}')"
        data-bgset="{% include 'bgset', image: section.settings.cover_image %}"
        data-sizes="auto"
        data-parent-fit="cover"></span>
	<noscript>
		<span class="prlx-bg prlx-bg--{{ section.id }}" style="background-image: url('{{ section.settings.cover_image | img_url: '2048x2048' }}')"></span>
	</noscript>
    {% endif %}
 </div>
</div>


{% schema %}
{
  "name": {
    "de": "Video",
    "en": "Video",
    "es": "Video",
    "fr": "Vidéo",
    "it": "Video",
    "ja": "動画",
    "pt-BR": "Vídeo"
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fr": "Vidéo",
        "it": "Video",
        "ja": "動画",
        "pt-BR": "Vídeo"
      }
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": {
        "de": "Video-Link",
        "en": "Video link",
        "es": "Enlace de video",
        "fr": "Lien de la vidéo",
        "it": "Link video",
        "ja": "ビデオリンク",
        "pt-BR": "Link do vídeo"
      },
      "accept": [
        "youtube",
        "vimeo"
      ]
    },
    {
      "type": "select",
      "id": "video_text_color",
      "label": {
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de texto",
        "fr": "Couleur du texte",
        "it": "Colore del testo",
        "ja": "文字の色",
        "pt-BR": "Cor do texto"
      },
      "default": "video-text-dark",
      "options": [
        {
          "value": "video-text-light",
          "label": {
            "de": "Hell",
            "en": "Light",
            "es": "Claro",
            "fr": "Clair",
            "it": "Chiaro",
            "ja": "ライト",
            "pt-BR": "Light"
          }
        },
        {
          "value": "video-text-dark",
          "label": {
            "de": "Dunkel",
            "en": "Dark",
            "es": "Oscuro",
            "fr": "Foncé",
            "it": "Scuro",
            "ja": "ダーク",
            "pt-BR": "Dark"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "de": "Cover",
        "en": "Cover",
        "es": "Portada",
        "fr": "Couverture",
        "it": "Copertina",
        "ja": "カバー",
        "pt-BR": "Capa"
      }
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "pt-BR": "Imagem"
      },
      "info": {
        "de": "1280 x 840 Pixel empfohlen",
        "en": "1920 x 840px recommended",
        "es": "1920 x 840px recomendado",
        "fr": "1980 x 800 px recommandé",
        "it": "Dimensione consigliata: 1920 x 840 pixel",
        "ja": "1920 x 840ピクセルを推奨",
        "pt-BR": "1920 x 840px recomendado"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fr": "Vidéo",
        "it": "Video",
        "ja": "動画",
        "pt-BR": "Vídeo"
      },
      "category": {
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fr": "Vidéo",
        "it": "Video",
        "ja": "動画",
        "pt-BR": "Vídeo"
      }
    }
  ]
}
{% endschema %}
